/*
 ####################################
        AlphaMusicMan FONT
 ####################################
 */

@font-face {
    font-family: AlphaMusicMan;
    src: url('AlphaMusicMan.ttf');
    font-style: normal;
    font-weight: normal;
}
